{
  "presets": [
    "@babel/typescript",
    [
      "@babel/env",
      {
        "targets": {
          "node": "6.11.5"
        }
      }
    ]
  ],
  "plugins": [
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV"]
      }
    ]
  ]
}
